# BMAD (local only)
.bmad-core/
.bmad-*/

.claude/settings.local.json

/docs/prd
/docs/architecture

/pvz-go
/pvz
pvz-test
coverage.out
pvz-debug
coverage_*.out
pvz-game

# /assets
# !/assets/config/

/bin
/.meta/screenshot
main.go.backup
.meta/v.md

pvz.log
*.log
*.bak
data/saves/
/animation_showcase
